*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: url("./cloud/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: #fff;
}
h1, h2, h3, h4{
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

P{
    margin: 0.5rem 0;
}

img{
    width: 100%;
}


.wrapper{
  display: flex;
  position: relative;
  
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #243040;
  padding: 10px 0px;
  position: fixed;
  border: 1px solid #e0e4e8;
  float: left;
  margin-top: 90px;
}

.wrapper .sidebar img{
  height: 90px;
  width: 80%;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #ff9900;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header1{
  padding: 20px;
  font-size: 40px;
}

.wrapper .main_content .info{
    margin: auto;
    width: 70%;
    padding: 0px;
}

.wrapper .main_content .info p{
  margin-bottom: 20px;
}

.wrapper .main_content .info h1,h2,h3,h4,h5{
    margin-bottom: 20px;
    font-size: 24px;
  }
  .wrapper .main_content .info img{
    margin-bottom: 20px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  table{
    margin: 20px 0;
    width: 97%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    /* font-size: 14px; */
    word-wrap: break-all;
    
}
th,td{
  padding-bottom: 10px;
  font-weight: 700;
  border-bottom: 3px solid #ddd;
    border-right: 1px solid #eee;
}
  
@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}